/* CSS declarations go here */

#cabecalho {
	max-height: 160px;
	border-style: solid;
	border-width: 1px;
	overflow-y: scroll;
}

#mensagens {
	margin-top: 20px;
	height: 400px;
	border-style: solid;
	overflow-y: scroll;
	border-width: 1px;
	list-style: none;
	margin-left: 0px;
}

#botoes {
	margin-left: 0px;
}

.botao {
	height: 22px;
}

#entrada-de-mensagens {
	margin-left: 0px;
}

.cinza {
	color: gray;
}

.divider {
	border-left:1px solid gray; 
    border-right:1px solid gray;
    height: 1em;
    margin-right: 3px;
    margin-left: 3px;
}

.horizontal-divider {
	width: 100%;
	border-top: 1px solid;
}